.content section:first-of-type figure {
    display: block;
    margin: 1.5rem auto;
    width: 50%;
}

.content section:first-of-type figure img {
    display: inline-block;
    width: 100%;
}

.content {
    text-align: center;
}

.content dl {
    display: inline-block;
    width: 90%;
    padding: 1.0rem;
    font-size: 1.15rem;
    counter-reset: definitions;
}

.content dl dt {
    float: left;
    width: 40%;
    background: #cdcdcd;
    counter-increment: definitions 1;
}

.content dl dd { 
    float: left;
    width: 60%;
    background: #dcdcdc;
}

aside math {
    display: block;
}

aside svg polygon{
    fill:rgb(153, 143, 221);
    stroke:rgb(128, 31, 63);
    stroke-width:5;
    fill-rule:evenodd;
}

aside div#svgContent {
    overflow: hidden;
}

@font-face {
    font-family: "LeaferToTheRescue";
    src: url("../data/fonts/LeaferToTheRescue.ttf") format("truetype");
}

aside:last-of-type p{
    margin-top: 0.4rem;
    font-family: "LeaferToTheRescue";
}

.content a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width:1000px) {
    .content dl {
        width: 80%;
    }
    .content dl dt::before {
        content: counter(definitions) ") ";
    }
    .content dl dt, .content dl dd {
        width: 100%;
        font-size: 1.2rem;
    }
}