* {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 16px;
}

body {
    font-family: "sans-serif";
    padding: 1rem;
    text-align: center;
}

header img {
    display: block;
    margin: 0px auto;
    border-bottom: 0.25rem solid rgb(20, 33, 85);
    margin-bottom: 1.5rem;
}

nav{
    width: 100%;
    text-align: center;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav li {
    width: 14.0vw;
    text-align: center;
    position: relative;
    float: left;
}

nav li a {
    text-decoration: none;
    display: block;
    line-height: 3rem;
    background-color: white;
    color: gray;
    border: 0.2rem solid rgb(20, 33, 85);
    border-radius: 5px;
    font-weight: bold;
}

nav li a::first-letter{
    text-decoration: underline;
}

ul.sub_menu1 {
    position: absolute;
    opacity: 0.0;
    left: 0%;
    transform: translateY(-2rem);
    transition: all 0.25s ease-in-out;
}

nav li:hover > a {
    color: #e01f2d;
}

ul.sub_menu1 a:hover{
    color: #45221b;
}

nav li:hover ul.sub_menu1{
    opacity: 1.0;
    transform: translateY(0rem);
}

.darrow {
    font-size: 1.0rem;
    position: absolute;
    top: 0.3rem;
    right: 0.5rem;
}

@font-face {
    font-family: "Mufferaw";
    src: url("../data/fonts/mufferaw rg.ttf") format("truetype");
}

.content {
    font-family: "Mufferaw";
    font-size: 1.4rem;
    text-align: justify;
    width: 65%;
    margin: 1.5rem auto;
    padding: 1rem 2vw 1rem 2vw;
    border: 0.2rem dashed rgb(201, 202, 204);
    z-index: -1000;
}

.content section:first-of-type > h2 {
    text-align: center;
    padding-bottom: 0.5rem;
}

.content section:first-of-type > p:before {
    content: url("../data/images/leaf.png");
    margin-right: 0.5rem;
}

.content section:first-of-type b {
    font-weight: inherit;
}

footer{
    display: inline-block;
    overflow: hidden;
}

footer img.evergreen{
    width: 2rem;
    padding: 0px 0.5rem;
}

footer div#main a:nth-child(1){
    float: left;
}

footer div#main a:nth-child(2){
    float: right;
}  

footer small{
    font-family: "proxima-nova";
}

footer div#main::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;

}

footer div#social {
    display: inline-block;
    position: relative;
    animation: footerSocial 5s linear infinite;
}

footer:hover div#social {
    animation-play-state: paused;
}

@keyframes footerSocial {
    0% { margin-left: -60%;}
    100% { margin-left: 60%;}
}

footer .fa {
    font-size: 2.0rem;
    width: 2.0rem;
    text-align: center;
    text-decoration: none;
    margin: 0.5rem 0.2rem;
    border-radius: 50%;
    transition: all 0.5s ease-in-out
}
  
footer .fa:hover {
     opacity: 0.7;
     transform: scale(1.5);
}
  
footer .fa-facebook {
    background: #3B5998;
    color: white;
}
  
footer .fa-twitter {
    background: #55ACEE;
    color: white;
}
  
footer .fa-google {
    background: #dd4b39;
    color: white;
}