@font-face {
    font-family: "Dreamofme";
    src: url("../data/fonts/dreamofme.ttf") format("truetype");
}

section#teaser {
    font-family: "Dreamofme";
    margin: 1.2rem;
    font-style: italic;
}

section#teaser > h2 {
    text-align: center;
}