* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "sans-serif";
    padding: 4%;
    text-align: center;
}

header{
    text-align: center;
}

header img {
    border-bottom: 3px solid rgb(20, 33, 85);
    margin-bottom: 2%;
}

nav{
    text-align: center;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    font-size: 1em;
}

nav li {
    width: 13.8vw;
    text-align: center;
    position: relative;
    float: left;
}

nav li a {
    text-decoration: none;
    display: block;
    line-height: 3em;
    background-color: white;
    color: gray;
    border: 3px solid rgb(20, 33, 85);
    border-radius: 5px;
    font-weight: bold;
}

nav li a::first-letter{
    text-decoration: underline;
}

ul.sub_menu1, ul.sub_menu2{
    visibility: hidden;
}

ul.sub_menu2{
    position: absolute;
    left: 100%;
    top: 0%;
}

nav li:hover > a{
    color: #e01f2d;
}

ul.sub_menu1 a:hover{
    color: #45221b;
}

nav li:hover ul.sub_menu1{
    visibility: visible;
}

ul.sub_menu1 li:hover ul.sub_menu2{
    visibility: visible;
}

.darrow {
    font-size: 1.0em;
    position: absolute;
    top: 0.1em;
    right: 4%;
}

.rarrow {
    font-size: 0.8em;
    position: absolute;
    top: 6%;
    right: 4%;
}

@font-face {
    font-family: "Mufferaw";
    src: url("mufferaw rg.ttf") format("truetype");
}

@font-face {
    font-family: "Dreamofme";
    src: url("dreamofme.ttf") format("truetype");
}

div#content{
    font-family: "Mufferaw";
    font-size: 1.4em;
    text-align: justify;
    margin: 0px 12.5vw;
    padding: 1em 2vw 1em 2vw;
    border: 2px dashed rgb(201, 202, 204);
    position: relative;
    top: -4em;
    z-index: -1000;
}

section#story > p:before{
    content: url("leaf.png");
    margin-right: 0.5em;
}

section#story b{
    font-weight: inherit;
}

section#teaser {
    font-family: "Dreamofme";
    margin: 1.2em;
    font-style: italic;
}

footer{
    display: inline-block;
}

footer img.evergreen{
    width: 2em;
    padding: 0px 0.5em;
}

footer img:nth-child(1){
    float: left;
}

footer img:nth-child(2){
    float: right;
}  

footer small{
    font-family: "proxima-nova";
}